@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f1f5f9;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
